<div [class]="cardClass()" [attr.data-pedido-id]="pedido().id">
  <div class="card-content">
    <span class="pedido-numero-badge" aria-hidden="true">{{ numeroExibicao() }}</span>
    <div class="nome-cliente">{{ nomeClienteLimitado() }}</div>
    @if (!isModoGestor()) {
      <span class="pedido-tempo">{{ minutosDecorridos() }} min</span>
    }
    @if (isModoGestor() && isPreparando()) {
      <button type="button" class="btn-acao btn-pronto" (click)="handleMarcarComoPronto()">Pronto</button>
    }
    @if (isModoGestor() && isPronto()) {
      <button type="button" class="btn-acao btn-remover" (click)="handleRemover()">Remover</button>
    }
  </div>
</div>
